<aside class="sidebar">
	<div class="widget widget-address">
		<h4>บริษัท ซันเทค ซัพพลาย แอนด์ เซอร์วิส จำกัด</h4>
		<address>
			<ul class="fa-ul">
				<li><i class="fa-li fa fa-home"></i> 33/29 หมู่ 2  ซอยแบริ่ง 48 (แยก 3) ต.สำโรงเหนือ  อ.เมืองสมุทรปราการ  จ.สมุทรปราการ 10270</li>
				<li><i class="fa-li fa fa-phone"></i> โทรศัพท์: +662 398 4795-6</li>
				<li><i class="fa-li fa fa-ellipsis-h"></i> แฟ็กซ์: +662 749 6788</li>
				<li><i class="fa-li fa fa-envelope"></i> e-mail: suntech49@gmail.com</li>
				<li><i class="fa-li fa fa-globe"></i> <a title="Suntech Supply Service" href="http://www.suntech.co.th">www.suntech.co.th</a></li>
			</ul>
		</address>
	</div>
</aside>