<section class="wrapper">

	<ul id="sb-slider" class="sb-slider">
		<li>
			<a href="" target="_blank"><img src="{{ site.baseurl }}/img/slider/slider-01.jpg" alt="image1"/></a>
		</li>
		<li>
			<a href="" target="_blank"><img src="{{ site.baseurl }}/img/slider/slider-02.jpg" alt="image2"/></a>
		</li>
	</ul>

	<div id="nav-arrows" class="nav-arrows">
		<a href="#">Next</a>
		<a href="#">Previous</a>
	</div>

	<div id="nav-dots" class="nav-dots">
		<span class="nav-dot-current"></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>

</section><!-- /wrapper -->