// ==============================================================
// == 	Global settings
// + 	Color
// + 	Line & Border
// + 	Spacing
// + 	Font
// + 	Lost grid
// ==============================================================


// ---------------------------
// + 	Color
// ---------------------------
// Grayscale
$gray = #f2f2f2
$dark-gray = darken( $gray, 5% )
$darker-gray = darken( $gray, 10% )
$black = #333
$light-black = lighten( $black, 10% )
$lighter-black = lighten( $black, 20% )

// Branding color
$primary-color = #d22c2c
$secondary-color = #2ecc71
$third-color = #333
$action-color = $primary-color

// Font color
$font-color = #111
$heading-font-color = $font-color

// Background color
$site-bg-color = #fff
$bg-color = #fff
$secondary-bg-color = #f5f5f5

// Border color
$border-color = $gray

// State colors
$default-color = #ccc
$info-color = #00a0d2
$success-color = #7ad03a
$warn-color = #fff9ea
$error-color = #fcdede

// ---------------------------
// +	Spacing
// ---------------------------
$spacing = 15px
$small-spacing = $spacing / 2
$large-spacing = $spacing * 2

// ---------------------------
// +	Font
// ---------------------------
$heading-font-family = Arial, sans-serif
$font-family = Arial, sans-serif

// Thai font
$th-heading-font-family = 'Block', sans-serif
$th-font-family = 'THSarabunNew', sans-serif

// Code font
$monospace-font-family = Menlo, Monaco, Consolas, "Courier New", monospace

$font-size = 22px
$small-font-size =  $font-size * 0.875
$large-font-size = 1.333em

$font-weight = 400
$heading-font-weight = 500

$line-height = 1.4
$heading-line-height = 1

// ---------------------------
// +	Border
// ---------------------------
$border-radius = 3px

// ---------------------------
// +	Lost grid
// ---------------------------
@lost gutter 30px