// ==============================================================
// == Image
// ==============================================================

// ---------------------------
// +	Featured image
// ---------------------------
.featured-img
	//debug()
	overflow: hidden
	width: 100%
	height: 380px
	
	margin: $large-spacing auto
	
	background: $darker-gray
	box-shadow: inset 0 1px 0 0 rgba( 0, 0, 0, 0.05 ), inset 0 2px 4px 0 rgba( 0, 0, 0, 0.06 )
		
	// .featured-img__block
	// 	display: inline-block
	// 	height: 300px
	// 	padding: $large-spacing
	// 	margin-top: 4px
	// 	background: aqua
	// 	-webkit-transform: skew(-10deg)
	// 	-moz-transform: skew(-10deg)
	// 	-o-transform: skew(-10deg)
	// 	background: $primary-color
		
	// 	.featured-img__title
	// 		-webkit-transform: skew(10deg)
	// 		-moz-transform: skew(10deg)
	// 		-o-transform: skew(10deg)
			

// Post featured image
.post-img
	margin-bottom: $spacing
	
// Small
.img-square
	display: block
	width: 125px
	height: 125px
	overflow: hidden
	outline: 1px dotted red