// ==============================================================
// == 	List
// ==============================================================
.list-no-bullet
	//debug()
	list-style: none
	
	li
		left: 0
		
// ---------------------------
// = FontAwesome list
// ---------------------------
.fa-ul
	//debug()
	margin-left: $spacing
	
	.fa-li
		margin-top: 3px
		fs: 14px
		color: lighten( #333, 20% )