// ==============================================================
// == Logo
// ==============================================================
.site-logo
	
	a
		display: block
		width: 80px
		height: 83px
		
		text-indent: -9999px
		
		background: url('../img/suntech-logo.jpg') no-repeat left top