// ==============================================================
// == 	Loops
// ==============================================================

.loops
	//debug()
	cf()
	margin-bottom: $large-spacing
	
	.loop__items
		padding: $spacing 0
		border-bottom: 1px solid $border-color
			
		.loop__title
			font-family: $th-heading-font-family
			fs: 25px
			
		.loop__excerpt
			margin-bottom: 0