// ==============================================================
// == 	Table
// ==============================================================
// ---------------------------
// +	Default
// ---------------------------
table
	td
		padding: $spacing
		
// ---------------------------
// +	No striped
// ---------------------------

	