<!DOCTYPE html>
<html>
	
	{% include _head.html %}

	<body class="{{ page.type }} {{ page.layout-class }}">

		<div id="site">

			<!-- Header -->
			{% include _header.html %}

			<!-- Content -->
			<section class="wrapper">
				<div class="container">

					<aside class="sidebar">
						{% if page.url contains 'products' %}
							{% include _aside-product-images.html %}
						{% elsif page.url contains 'about' or page.url contains 'contact' %}
							{% include _aside-address.html %}
						{% endif %}
					</aside>

					<main class="content">
						<h1 class="page-title">{{ page.title }}</h1>
						{{ page.image }}
						{{ content }}					
					</main>

				</div>			
			</section><!-- /.wrapper -->

			<!-- Footer -->
			{% include _footer.html %}

		</div><!-- /#site -->

		<!-- Scripts -->
		{% include _bottom.html %}
	</body>
</html>
