// ==============================================================
// == Site footer
// ==============================================================
#site-footer
	//debug()
	cf()
	background: $primary-color
	
	.footer-meta
		lost-column: 1/2 2