// ==============================================================
// == 	Typography
// ==============================================================

h1
	font-size: 42px

h2
	font-size: 36px

h3
	font-size: 30px

h4
	font-size: 26px

h5
	font-size: $font-size

h6
	font-size: $font-size
	color: lighten($heading-font-color, 20%)
	
.lead
	font-size: 1.5em