// ==============================================================
// == 	Import custom font
// ==============================================================
@font-face
  font-family: 'blockregular'
  font-path: '../fonts/block-regular'
  font-weight: 400
  font-style: normal

/*@font-face
    font-family: 'blockregular'
    src: url('../fonts/block-regular-webfont.eot')
    src: url('../fonts/block-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/block-regular-webfont.woff2') format('woff2'),
      url('../fonts/block-regular-webfont.woff') format('woff'),
      url('../fonts/block-regular-webfont.ttf') format('truetype'),
      url('../fonts/block-regular-webfont.svg#blockregular') format('svg')
    font-weight: normal
    font-style: normal*/

@font-face
  font-family: 'THSarabunNew'
  font-path: '../fonts/THSarabunNew'
  font-weight: 400
  font-style: normal
