---
layout: archive
type: archive
folder: products

title: สินค้าและบริการ
---


<div class="loops l-loops">

	{% for product in site.pages %}
		{% if product.type == 'product' %}

			<div class="l-loop-items">

				<div class="l-loop-items-img">
					<img src="{{ site.baseurl }}/img/products/{{ product.image }}" alt="{{ product.title }}">
				</div>
				
				<div class="l-loop-items-content">
					<h3><a href="{{ site.baseurl }}{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a></h3>
					<p class="excerpt">{{ product.content }}</p>
				</div>
				
			</div><!-- /.l-loop-items -->
		
		{% endif %}
	{% endfor %}

	<div class="cf"></div>

</div><!-- /.l-loops -->

